<div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>
            <p>Reasignar contraseña</p>
        </mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <p>
            Te enviaremos un correo electrónico con un enlace privado para
            <br>
            que reasignes tu contraseña
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Correo Electónico</mat-label>
              <input matInput>
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <button mat-stroked-button color="" class="btn-block">Enviar enlace</button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-stroked-button 
                        color="" 
                        class="btn-block-2"
                        routerLink="/inicio/login">Iniciar Sesión</button>
            </mat-grid-tile>
          </mat-grid-list>
          
      </form>
    </mat-card>
  </div>