:host {
    display: block;
    padding-top: 30px;
    
    .login-wrapper {
        display: flex;
        justify-content: center;
    }

    .box {
        background-color: #f4f4f4;
        padding: 100px;
    }

    .mat-card-header {
        display: flex;
        justify-content: center;
    }
    .mat-form-field {
        display: block;
        width: 100%;
    }

    .btn-block {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        background: #554646;
    }
}