<div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/inicio/login" routerLinkActive="mat-accent">Inicia sesión</a>
          <a>|</a>
          <a routerLink="/inicio/register" routerLinkActive="mat-accent">Regístrate</a>
        </mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nick</mat-label>
              <input matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Correo electrónico</mat-label>
              <input matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar Contraseña</mat-label>
              <input matInput>
            </mat-form-field>
          </p>
        </mat-card-content>
  
        <button mat-stroked-button color="" class="btn-block">Crear Cuenta</button>
        <br>
        <p>
          Al registrarte, estas aceptando los <a class="link-route">Términos y condiciones</a>, y la
          <br>
          <a class="link-route">Política de privacidad y protección de datos</a> de COMFECO 
        </p>
      </form>
    </mat-card>
  </div>